<%= form_for @post, html: { multipart: true } do |f| %>

    <div class="form-group">
        <%= f.label :main_image %>
            <div class="row">
            <div class="col-3">
                <%= f.file_field :main_image, class: "form-control-file" %>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-9">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
            </br>
            <%= f.submit "Save Post", class: "btn btn-success" %>
            <%= f.hidden_field :account_id, class: "form-control", :value =>  @post.account_id %>
        </div>

    </div>    
<% end %>    