<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<h3>Posts</h3>
</br>
<div class="container">

    <% @posts.each do |post|  %>
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success"><strong> <%= Account.user_name(post.account_id) %></strong></div>
            <div class="card-body text-success">
                <h5 class="card-title"><%= image_tag post.main_image, style: "width:100%" %></h5>
                <p class="card-text"><%= post.description.html_safe %></p>
                <p><% post.tag_list.each do |tag| %>
                    <%= link_to tag, tagged_path(tag: tag) %>
                <% end %></p>
            </div>
            
            <div id="likes_<%= post.id %>">
               <%= render partial: "accounts/like_result", locals: {current_account: current_account, post: post} %>
            </div>

            <div>
                <div class="card-footer bg-transparent border-success"><%= form_for @comment, remote: true, :html => { :id => 'dog_form' } do |f| %>
                    <%= f.hidden_field :post_id, value: post.id %> 
                    <%= f.text_field :comment, placeholder: "Add comment here", id: "comment_field"%> 
                    <%= f.submit "Post", remote: true, class: "btn btn-success" %> 
                    <div id="comments_<%= post.id %>">
                        <%= render partial: "posts/comments", locals: {post: post} %>  
                    </div>              
                    <% end %>
                </div>    
            </div>    
        </div></br>   
    <% end %> 
    
</div>